openapi: 3.0.0

info:
  version: '1.0'
  title: 'iNeedHelp Web API'
  description: 'Web Resources Specification for iNeedHelp'

servers:
- url: http://lbaw.fe.up.pt # Alterar !!
  description: Production server

externalDocs:
  description: Our Project Documentation
  url: https://git.fe.up.pt/lbaw/lbaw2122/lbaw2153/-/wikis/home

tags:
  - name: 'M01: Authentication'
  - name: 'M02: Questions'
  - name: 'M03: Static Pages'
  - name: 'M04: Administration'
  - name: 'M05: Answers'
  - name: 'M06: Users'
  - name: 'M07: Comments'

paths:
  # M01: Authentication
  /login:
    get:
      operationId: R101
      summary: 'R101: Login Form'
      description: 'Provides the login form. ACCESS: VIS'
      tags:
        - 'M01: Authentication'
      responses:
        '200':
          description: 'OK. Show login UI'

    post:
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes login form submission. ACCESS: VIS'
      tags:
        - 'M01: Authentication'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                identifier: # username or email
                  type: string
                password:
                  type: string
              required:
                - identifier
                - password

      responses:
        '302':
          description: 'Redirect after processing the login credentials'
          headers:
            location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication'
                  value: '/' 
                302Error:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'

  /logout:
    post:
      operationId: R103
      summary: 'R103: Logout Action'
      description: 'Logout the current authenticated user. ACCESS: USR, MOD, ADM'
      tags:
        - 'M01: Authentication'
      responses:
        '302':
         description: 'Redirect after processing logout.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful logout. Redirect to login form.'
                 value: '/login'

  /register:
    get:
      operationId: R104
      summary: 'R104: Register Form'
      description: 'Provides the registration form. ACCESS: VIS'
      tags:
        - 'M01: Authentication'
      responses:
        '200':
         description: 'Ok. Show Sign-Up Interface'   
    
    post:
      operationId: R105
      summary: 'R105: Register Action'
      description: 'Processes registration form submission. ACCESS: VIS'
      tags:
        - 'M01: Authentication'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                full_name:
                  type: string
                email:
                  type: string
                password:
                  type: string
              required:
                - username
                - email
                - password

      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/users/{id}'
                302Failure:
                  description: 'Failed authentication. Redirect to register form.'
                  value: '/register'

  # M06: Users
  /users/{id}:
    get:
      operationId: R601
      summary: 'R601: User Profile Page'
      description: 'Shows authenticated user profile page. ACCESS: VIS'
      tags:
        - 'M06: Users'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'OK. Show user profile page.'

  # M02: Questions
  /api/questions:
    get:
      operationId: R201
      summary: 'R201: Search Question API'
      description: 'Searches for questions and returns the results as JSON. Access: VIS'
      tags:
        - 'M02: Questions'
      parameters:
       - in: query
         name: query
         description: String to use for full-text search
         schema:
           type: string
         required: false
       - in: query
         name: tags
         description: Tags of the questions
         schema:
           type: string
         required: false
       - in: query
         name: keywords
         description: Keywords that might be found in the content body of the question
         schema:
           type: string
         required: false
      responses:
        '200':
          description: 'Success'
          content:
           application/json:
             schema:
               type: array
               items:
                 type: object
                 properties:
                   id:
                     type: string
                   title:
                     type: string
                   content:
                     type: string
                   views:
                     type: integer
                   user_id:     # The author of the question
                     type: integer
                   created_at:
                     type: object
                   updated_at:
                     type: object
                   tags:
                     type: array
                   answers:
                     type: array
               example:
                 - id: 1
                   title: Rihanna - Unapologetic
                   obs: Good pop music album.
                   year: 2012
                   owner: Joana Lima
                   type: MP3
                 - id: 15
                   title: Mr. Bean
                   obs: The best comedy movie.
                   year: 1995
                   owner: Manuel Teixeira
                   type: DVD

  /questions/{id}:
    get:
      operationId: R202
      summary: 'R202: Question Page'
      description: 'Shows individual question page. ACCESS: VIS'
      tags:
        - 'M02: Questions'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'OK. Show individual question page.'
  
  /question/new:
    get:
      operationId: R204
      summary: 'R204: Question Form'
      description: 'Shows new question form. ACCESS: USR'
      tags:
        - 'M02: Questions'
      responses:
        '200':
          description: 'Ok. Show new question form'

    post:
      operationId: R205
      summary: 'R205: Question Form Action'
      description: 'Processes the new question form. ACCESS: USR'
      tags:
        - 'M02: Questions'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                title:
                  type: string
                content:
                  type: string
              required:
                - username
                - title
                - content
      responses:
        '302':
          description: 'Ok. Redirect to the newly created question page'
          headers:
            location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful question'
                  value: '/' 
                302Error:
                  description: 'Failed question. Redirect to question form.'
                  value: '/question/new'
                  
  # M05: Answers
  /answer/new-answer:    
    post:
      operationId: R501
      summary: 'R501: Answer Form Action'
      description: 'Processes the new answer form. ACCESS: USR'
      tags:
        - 'M05: Answers'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                title:
                  type: string
                content:
                  type: string
              required:
                - username
                - title
                - content
      responses:
        '302':
          description: 'Ok. Redirect to the newly created question page'
          headers:
            location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful answer'
                  value: '/' 
                302Error:
                  description: 'Failed answer. Redirect to answer form.'
                  value: '/answer/new-answer'
        
  # M07: Comments
  /comment:
    post:
      operationId: R701
      summary: 'R701: Comment Action'
      description: 'Processes new comment. ACCESS: USR'
      tags:
        - "M07: Comments"
      responses:
        '201':
          description: 'ok'
        '400':
          description: 'bad'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                for:
                  type: string # Enum for QUESTION, ANSWER
                identifier:
                  type: integer # question id or answer id, depending on 'for'
                content:
                  type: string
              required:
                - for
                - identifier
                - content        

  /comment/{id}:     
    delete:
      operationId: R702
      summary: 'R702: Delete comment'
      description: 'Deletes the comment, if the caller has permission. ACCESS:USR'
      tags:
        - "M07: Comments"
      responses:
        '200':
          description: 'Successfully deleted comment'
        '400':
          description: 'Error while deleting comment'
      
    patch:
      operationId: R703
      summary: 'R703: Edit comment'
      description: 'Edits the comment, if the caller has permission. ACCESS:USR'
      tags:
        - "M07: Comments"
      responses:
        '200':
          description: 'Successfully edited comment'
        '403':
          description: 'No permission'
        '404':
          description: 'Comment not found'
        '400':
          description: 'Error while editing comment'
    
      
  # M03: Static Pages
  /about-us:
    get:
      operationId: R301
      summary: 'R302: About-Us Page'
      description: 'Shows about us page ACCESS: VIS'
      tags:
        - 'M03: Static Pages'
      responses:
        '200':
          description: 'Ok. Show about-us page'

  /support:
    get:
      operationId: R302
      summary: 'R302: Support Page'
      description: 'Shows support page ACCESS: VIS'
      tags:
        - 'M03: Static Pages'
      responses:
        '200':
          description: 'Ok. Show Support page'

  /authentication:
    get:
      operationId: R303
      summary: 'R303: Authentication Needed Page'
      description: 'Shows the authentication needed page. ACCESS: VIS'
      tags:
        - 'M03: Static Pages'
      responses:
        '200':
          description: 'Ok. Show authentication needed page'

  # M04: Administration
  /dashboard:
    post:
      operationId: R401
      summary: 'R401: Administration Dashboard Page'
      description: 'Shows the administration dashboard page. ACCESS: ADM'
      tags:
        - 'M04: Administration'
      responses:
        '200':
          description: 'Ok. Show dashboard page'
